﻿@model SistemaRestaurante.BusinessEntity.Local

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create","Local",FormMethod.Post, new {id= "frmRegistroLocal" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Local</legend>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        
          <div class="editor-label">
            @Html.LabelFor(model => model.Provincia)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Provincia, ViewBag.Provincias as SelectList, "- Seleccionar -" )
            @Html.ValidationMessageFor(model => model.Distrito)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Distrito)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Distrito, new List<SelectListItem>())
            @Html.ValidationMessageFor(model => model.Distrito)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <p>
            <input type="submit" value="Create" id="btnRegistrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('#Provincia').change(function () {

            $.getJSON('/Local/Distritos/' + $('#Provincia').val(), function (data) {
               
                var items = '<option> Seleccionar un distrito</option>';
                $.each(data, function (i, distrito) {
                    items += "<option value='" + distrito.Value + "'>" + distrito.Text + "</option>";
                });
                $('#Distrito').html(items);
            });

        });


        $('#btnRegistrar').click(function (e) {

            if ($('#frmRegistroLocal').validate().form()) {
                alert('Correcto');
            } else {
                e.preventDefault();
            }
        });
    });
</script>