﻿@model IEnumerable<SistemaRestaurante.BusinessEntity.Local>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IdLocal
        </th>
        <th>
            Nombre
        </th>
        <th>
            Distrito
        </th>
        <th>
            Direccion
        </th>
        <th>
            Telefono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  idLocal=item.IdLocal }) |
            @Html.ActionLink("Details", "Details", new {  idLocal=item.IdLocal }) |
            @Html.ActionLink("Delete", "Delete", new {  idLocal=item.IdLocal })
        </td>
    </tr>
}

</table>


<script>


</script>
