﻿@model IEnumerable<SistemaRestaurante.BusinessEntity.Categoria>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                IdCategoria
            </th>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { idCategoria = item.IdCategoria }) |
                    @Html.ActionLink("Details", "Details", new { idCategoria = item.IdCategoria }) |
                    @Html.ActionLink("Delete", "Delete", new { idCategoria = item.IdCategoria })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                IdCategoria
            </th>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">

    $(document).ready(function () {

        $("table").dataTable();

    });

</script>