﻿@{
    ViewBag.Title = "ListadoJqGrid";
}

<div id="listado">
    <table id="tabla"></table>
    <div id="barra"></div>
</div>
<div id="informacion" style="padding: 10px; display: none;"></div>



<script type ="text/javascript">

    $(document).ready(function() {
        Listar();
    });





    function Listar() {

        var grilla = 'tabla';
        var colNames = ['ID', 'Nombre', 'Descripción'];
        var colModels = [
                { name: 'IdCategoria', index: 'IdCategoria', align: 'center', hidden: true, width: 40},
                { name: 'Nombre', index: 'Nombre', align: 'center' },
                { name: 'Descripcion', index: 'Descripcion', align: 'center' },
        ];

        var opciones = { nuevo: true, editar: true, eliminar: false, search: true, rules:true};

        SR.GrillaCompleta(grilla, 'barra', 'hfIdentificador', 'auto', 1000, 'Presentaciones de Producto', '@Url.Action("Listar", "Producto")', 'id', colNames, colModels, 'IdCategoria',opciones,Nuevo,Editar,Eliminar);

        $("#" + grilla).filterToolbar({ searchOnEnter: true, stringResult: true, defaultSearch: "cn" });
    }

</script>