﻿@model IEnumerable<SistemaRestaurante.BusinessEntity.Cliente>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IdCliente
        </th>
        <th>
            Documento
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  idCliente=item.IdCliente}) |
            @Html.ActionLink("Details", "Details", new { idCliente=item.IdCliente }) |
            @Html.ActionLink("Delete", "Delete", new {  idCliente=item.IdCliente })
        </td>
    </tr>
}

</table>
